{% extends "personalVacunatorio/base.html" %}
{% load static %}
{% block title %} <title> Restablecer contraseña </title>{%endblock%}
{% block content %}
   
<form method="post"> 
    
    {% if messages %}
    {% for message in messages %}
    <div class="{% if message.tags == 'error' %} alert alert-warning {% else %} alert alert-success {% endif %}" style="padding-top: 10px;">
        <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.
    {% csrf_token %} 
    {{ form.as_p}} 
   <button> <input type="submit" value="restablecer contraseña"> </button> 
</form> 
<a href="/personal_vacunatorio/inicio_sesion">Cancelar</a>
{%endblock%}
