{% extends "pacientes/base.html" %}
{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/covid.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Vacunas Ofrecidas</span>
            <span class="section-heading-lower">Fiebre Amarilla</span>
          </h2>
          <p class="mb-3">La vacuna contra la fiebre amarilla se recomienda a mayores de 60 años</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Heading -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/fiebreamarilla.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Vacunas Ofrecidas</span>
            <span class="section-heading-lower">Fiebre Amarilla</span>
          </h2>
          <p class="mb-3">La vacuna contra la fiebre amarilla se recomienda a mayores de 60 años</p>
        </div>
      </div>
    </div>
  </section>
    <!-- Heading -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/fiebreamarilla.jpg'%}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-upper">Vacunas Ofrecidas</span>
              <span class="section-heading-lower">Fiebre Amarilla</span>
            </h2>
            <p class="mb-3">La vacuna contra la fiebre amarilla se recomienda a mayores de 60 años</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div style="background-color: grey;" class="col-xl-9 mx-auto">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/vacunassist-logo.png'%}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Linea 1</span>
                <span class="section-heading-lower">Linea 2</span>
              </h2>
              <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel consectetur enim harum fugit at laborum impedit rem adipisci recusandae itaque quo inventore, beatae deleniti rerum obcaecati amet dolorum magnam sint!</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    {% endblock %}