{% extends "pacientes/base.html" %}
{% load static %}

{% block content %}


<div class="card">
    <div class="card-header" style="min-height: 224px;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12 text-center ">
                <strong class="card-title">
                    <h2>Listado de Solicitudes</h2>
                </strong>
            </div>
        </div>

        {% if solicitudes%}
        <div class="container">
            <div class="row">
                {% for solicitud in solicitudes %}
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-2"><b>{{ solicitud.vacuna_id__nombre }}</b></h4>
                            <p class="card-text">Día de solicitud: {{ solicitud.fecha_solicitud }}</p>
                            <p class="card-text">Estado: 
                                {% if solicitud.solicitud_aprobada %}
                                confirmada.
                                {% else %}
                                pendiente confirmación.
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {%endfor %}
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Por el momento usted no ha realizado solicitudes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}