{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta paciente de VacunAssist</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
    
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            {{ form|crispy}}
        </div>
        <button type="submit" class="btn btn-primary" id="submit">iniciar sesion</button>
    </form>

</body>
</html>